{% extends 'layout.html.twig' %}

{% block title %}Categories{% endblock %}
{% block content %}
<section>
    <h1>Les catégories</h1>
    <ul>
        {% for category in categories %}
            <li>{{ category.name }}</li>
        {% endfor %}
    </ul>
</section>
{% endblock %}

